.prjtrow {
    padding: 5px 0 2px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
}
.prjtrow .prtitle {
    padding: 0px 0;
    margin: 0px;
    font-weight: bold;
}
.prjtrow .prcontent{
    padding: 0px 0;
    margin: 0px;
}
.projectsecdt {
    border: 3px solid #ccc;
    padding: 29px 50px;
}
.prjrescept {
    padding: 0px 0 5px 0;
    margin: 0px 0 10px 0;
}

.prjrescept:after {
    content: "";
    background: #474796;
    height: 3px;
    width: 270px;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 2px;
}
img.imgprj {
    width: 30px;
    height: 30px;
    float: left;
}
img.prjtimg {
    width: 100%;
    float: left;
}img.prjtimg {
    width: 100%;
    float: left;
}